@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
	--main-green: #84cc16;
	--background-color: #d4d6d6;
}

body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: var(--background-color);

	display: grid;
	grid-template-columns: 250px 4fr;
	grid-template-rows: 1fr 4fr;
}

/* HEADER ------------------------------------------ */

.header{
	grid-column: 2 / 3;

	z-index: 10;
	box-shadow: 1px 5px 10px #777676;
	background-color: white;
	padding: 5px 40px 20px 40px;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.header-icons {
	height: 1.8rem;
}

/* search bar ------------ */

.search-bar{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.search-bar img {
	margin-right: 1rem;
}

.search-bar input {
	width: 80%;
	height: 2.5rem;
	font-size: 1rem;
	border-radius: 1rem;
	border: none;
	background-color: var(--background-color);
	padding: 0 1rem 0 1rem;
	box-shadow: inset 1px 1px 10px #777676;
}

/* profile ------------ */

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.profile-pic {
	height: 3rem;
}

/* welcome ------------ */

.welcome{
	margin-top: .5rem;
	display: grid;
	align-items: center;
	grid-template-columns: 5rem 2fr;
	gap: 2rem;
}

.welcome-img{
	height: 5rem;
}

.welcome-text p,
.welcome-text h2{
	margin: 0;
}

/* post ------------ */

.post{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:2rem;
	align-items: center;
}

.post button {
	cursor: pointer;
	background-color: var(--main-green);
	color: white;
	border: none;
	border-radius: 2rem;
	height: 2.3rem;
}

/* SIDEBAR ------------------------------------------ */

.sidebar {
	grid-column: 1 / 2;
	grid-row: 1 / 6;

	background-color: var(--main-green);
	box-shadow: 5px 10px 10px -1px rgb(105, 105, 105);

	font-size: 1.2rem;

	display: grid;
	grid-template-rows: 0.5fr 1fr 2fr;
	gap:1rem;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	height: 4rem;
	padding: 20px 0 20px 30px;
}

.logo img {
	height: 4rem;
}

.logo h3 {
	display: inline;
	cursor: default;
}

.sidebar ul {
	padding-left: 40px;
}

.sidebar ul li {
	list-style-type: none;
	font-weight: 700;
	margin-bottom: 0.8rem;
}

.sidebar ul li img {
	height: 2rem;
	margin-right: 1rem;
	cursor: pointer;
}

.sidebar ul li img:hover ~ p {
	border-bottom: 1px solid;
}

.sidebar ul li p {
	cursor: pointer;
	margin: 0;
}

.sidebar ul li p:hover {
	border-bottom: 1px solid;
}

.menu ul li {
	display: flex;
	align-items: center;
}

.menu2 ul li {
	display: flex;
	align-items: center;
}

/* CONTENT ------------------------------------------ */

.content {
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 20px;
}

.aside {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	padding: 20px;
}
