@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: #d4d6d6;

	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 4fr;
}

ul {
	padding-left: 40px;
}

ul li {
	list-style-type: none;
	font-weight: 700;
	margin-bottom: 0.8rem;
}

ul li img {
	height: 2rem;
	margin-right: 1rem;
	cursor: pointer;
}

ul li img:hover ~ p {
	border-bottom: 1px solid;
}

ul li p {
	cursor: pointer;
	margin: 0;
}

ul li p:hover {
	border-bottom: 1px solid;
}


/* HEADER ------------------------------------------ */

.header{
	grid-column: 2 / 3;

	z-index: 10;
	box-shadow: 1px 1px 10px #777676;
	background-color: white;
	padding: 20px;
}

/* SIDEBAR ------------------------------------------ */

.sidebar {
	grid-column: 1 / 2;
	grid-row: 1 / 6;

	background-color: #84cc16;
	box-shadow: 5px 10px 10px -1px rgb(105, 105, 105);

	font-size: 0.9rem;

	display: grid;
	grid-template-rows: 0.5fr 1fr 2fr;
	gap:1rem;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	height: 4rem;
	padding: 30px;
}

.logo img {
	height: 4rem;
}

.logo h3 {
	display: inline;
	cursor: default;
}

.menu ul li {
	display: flex;
	align-items: center;
}

.menu2 ul li {
	display: flex;
	align-items: center;
}

/* CONTENT ------------------------------------------ */

.content {
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 20px;
}

.aside {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	padding: 20px;
}